#
# config file for the TCP-Switch Application
#
# the following variables can be used:
#   $ip   - client ip
#   $port - client port
#   $protocol - one of {HTTP, HTTPS, HTTPSPROXY, FTP, SSH}
#   $time - hh:mm:ss
#   $date - yyyy-mm-dd
#
# the config is executed from top to bottom.
# the first matching forward or reject ends the config.
# if no forward is found, the connection is closed.
#
# keywords:
#   <listenerlist> : <listener> | <listenerlist> <listener>
#   <listener> : listen (<port>) { <statementlist> }
#   <statementlist> : <statement> | <statementlist> <statement>
#   <statement> : check | forward | reject
#
#   check (<condition>) { <statementlist> }
#   <condition> : <variable> <operator> <value>
#   <variable> : $protocol, $ip, $port, $time, $date
#   <operator> : <, <=, =, >=, >, !=
#   <value> : <protocol>, <ip>, <number>, <time>, <date>
#   <protocol> : HTTP, HTTPS, HTTPSPROXY, FTP, SSH
#                ($protocol can only have the operator "=")
#   <ip> : n1.n2.n3.n4
#   <number> : 0 .. 65535 
#   <time> : hh:mm:ss
#   <date> : yyyy-mm-dd
#   forward <host-ip>:<host-port>[,options]
#   <host-ip> : <fqdn> | <ip> | $host | $proxyhost
#   <host-port> : <number> | $port | $proxyport
#
#   reject
#

listen (8021) {
	forward ftp-proxy.t-online.de:21
}

listen (8022) {
	check ($protocol = HTTPSPROXY) {
		forward $proxyhost:$proxyport,HTTPSPROXYestablish
	}
}

/* port 9022 is always forwarded to sshtest.net:22    */
/* This is more interesting if the HTTPSPROXY is on a */
/* remote server and not at localhost                 */
listen (9022) {
	forward localhost:8022,HTTPSPROXYconnect(sshtest.net:22)
}

listen (8080) {
	forward www-proxy.t-online.de:80
}

listen (8443) {
	forward sf.net:443
}

listen (443) {
	check ($protocol = HTTP) {
		check ($time < 12:00:00) {
			forward www.gnu.org:80,HTTPrewritehost
		}
	    /* $time >= 12:00:00 */
		forward www.fsf.org:80,HTTPrewritehost
	}
	check ($protocol = HTTPS) {
		forward sourceforge.net:443
	}
	check ($protocol = FTP) {
		forward ftp.debian.org:21
	}
	check ($protocol = SSH) {
		forward localhost:22
	}
    reject
}	

listen (8555) {
	check ($date > 2004-01-01) {
		forward sourceforge.net:80,HTTPrewritehost
	}
	check ($ip >= 127.0.0.0) {
		check ($ip <= 127.0.0.255) {
			forward sourceforge.net:80
		}
	}
	reject
}	

listen (8556) {
	check ($ip = 127.0.0.1) {
		forward localhost:8555
	}
	check ($port > 2500) {
		forward www.gnu.org:80
	}
	check ($time > 12:00:00) {
		check ($time < 18:00:00) {
			forward www.gnu.org:80
		}
	}
}	


